[user]
	name = Max Gilmour
	email = mgilmour@maxgmr.ca
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
    editor = nvim
[init]
	defaultBranch = main
[commit]
    verbose = true
[log]
    decorate = short
